/* CSS globales para crear el rectángulo central con texto y gráficos ------------------ */



/* Reset CSS */
*, *::before, *::after {
      margin: 0;          
      padding: 0;           
}

header, nav, figure, section, article, #uocbox {
  margin: 0 auto;
  font-family: Arial;
  text-align: center;
  max-width: 780px;
}

header {
  padding-top: 22px;
}

.title_and_logo {
  padding: 15px;
  display: inline-flex;
  width: auto;
  margin: auto;
}

/* FX: Clipping y animaciones */

.clipping {
  clip-path: ellipse(300px 500px at 375px 500px);
}

.circle {
  animation: 2s infinite alternate circle;
}

@keyframes circle {
  from {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(600px);
    clip-path: circle(600px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fading {
  animation: fadeIn 1s ease-in infinite alternate;
}

/* color gris de fondo excluido el header y nav */
main {
  background-color: #F8F9F9;
  padding-left: 30px;
  padding-right: 30px;
}

/* Navegador y sus efectos anchor que son específicos */
nav {
  padding-top: 20px;
  padding-bottom: 30px;
}

nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  font-size: 0.8em; 
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:visited {
  text-decoration: none;
  color: black;
}

nav ul li a:link {
  text-decoration: none;
  color: black;
}

/* subrayado para destacar la opción del menú seleccionada */
.seleccionado {
  border-bottom: 1px dashed #ce2525;
}

/* texto genérico: configuración específica; */
article p {
  text-align: left;
  line-height: 1.6em;
  font-size: 1.07em;
  color: #626567; 
  padding-top: 5px;
  padding-bottom: 7px;
  font-family: Georgia;
}

/* Configuración titular h1 */
h1 {
  text-align: center;
  font-size: 230%;
  font-family: "Arial Black"; 
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 0px;
  padding-left: 25px;
}

/* Configuración titular h2 */
h2 {
  font-family: "Arial Black"; 
  font-size: 175%;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 10px;
}

/* Configuración específica textos del footer */
footer #uocbox p {
  color: white; 
  font-size: 90%;
}

footer {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

footer #uocbox {
  text-align: left;
}

footer a:link, footer a:visited {
	color: white;
	font-size: 0.9rem;
}

.enlaces {
  padding-bottom: 100px;
}

ul {
  list-style: none;
  font-family: Arial;
  line-height: 1.5em;
  color: #626567;
  font-size: 110%;
}

button {
	margin-top: 15px;
	padding: 5px;
	margin: 5px;
	float: right;
	transition: background-color 0.2s ease-out;
}

button:hover {
  background-color: #1ce;
}

p.imperdibles {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
   margin-left:0%;
   width:100%;
 }
}


  /* para 700px o menos */
  @media screen and (max-width:700px) {
    main {
      font-size:0.8em;
      padding-left: 20px;
      padding-right: 20px;
    }
    /* Configuración titular h1 */
	h1 {
	  font-size: 200%;
	}
	/* Configuración titular h2 */
	h2 {
	  font-size: 150%;
	}
    figure image, image, figure picture {
    	width: 80%;
    }
    .clipping {
	  clip-path: circle(225px at center);
	}
  }
 
  /* para 480px o menos */
  @media screen and (max-width:480px) {
    main {
      font-size:0.6em;
      padding-left: 10px;
      padding-right: 10px;
    }
     /* Configuración titular h1 */
	h1 {
	  font-size: 150%;
	}
	/* Configuración titular h2 */
	h2 {
	  font-size: 100%;
	}
    figure image, image, figure picture {
      width: 70%;
    }
  }



/* Configuración cuadro de imagen */
figure {
  background-color: white;
  padding-top: 10px;
}

/* Configuración específica de los pies de fotos */
figcaption {
  text-align: center;
  font-size: 85%;
  background-color: white; 
  color: #626567; 
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  font-family: Times; 
}


/* Configuración links */
a:link {
  color: #ce2525;
  text-decoration: none;
}

a:hover {

}

footer a:hover {
  background: none;
}

a:visited {
  color: rebeccapurple; 
  text-decoration: none;
}



/* Fin fichero CSS ---------------------------------------------------------------------------- */



